@model Devmonster.me.Models.ResponseData
@model Devmonster.me.Models.ResponseData

@{
    Layout = "~/Views/Shared/_GreetLayout.cshtml";
}

<div class="hero-message">
    <div class="text-center">@Model.Message</div>
</div>
<div class="text-center">- @Model.From</div>
<div class="pyro">
    <div class="before"></div>
    <div class="after"></div>
</div>