@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Uh-oh!</h1>
    <p class="lead">Yeah this is my page, but it's still under construction. Nothing to see here, move along.</p>
    <p>You can visit my <a href="http://www.facebook.com/devmonster">Facebook page</a> for the meantime</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How did you get here?</h2>
        <p>
            I'm asking because this page isn't public yet. Weird huh
        </p>
        <p><a class="btn btn-default" href="http://www.facebook.com/devmonster">Weird huh? &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Do you tweet</h2>
        <p>I tweet, yes. But rarely.</p>
        <p><a class="btn btn-default" href="http://www.twitter.com/devmonster">I do tweet! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About.me</h2>
        <p>Meh, just go to about.me/devmonster</p>
        <p><a class="btn btn-default" href="http://www.about.me/devmonster">Sure! &raquo;</a></p>
    </div>
</div>