@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Devmonster.me</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="~/Content/freelancer.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Devmonster</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#developer">Developer</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#gamer">Gamer</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#pokemon">Pokémon Trainer</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--<img class="img-responsive" src="img/profile.png" alt="">-->
                    <div class="intro-text">
                        <div class="name">Developer</div>
                        <div class="name">Gamer</div>
                        <div class="name">Pokemon Trainer</div>
                        <div class="name">Music Lover</div>
                        <!--<hr class="star-light">
                        <span class="skills">Web Developer - Graphic Artist - User Experience Designer</span>-->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Developer Section -->
    <section id="developer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2>Mark Angelo Miano</h2>
                </div>
            </div>
            <div class="filler"></div>
            <div class="row">
                <div class="col-lg-12 text-left intro-text skills">
                    <p>
                        I'm a developer and I love all things tech. I live in the Philippines and currently working for <a href="http://www.dewise.com">Dewise</a>, an awesome company based in Copenhagen, Denmark, that provides web and native mobile solutions using Microsoft technologies such as Azure.
                    </p>

                    <p>
                        I develop native mobile app solutions using the Xamarin Platform, as well as leveraging Azure Cloud Services for the backend. I use .NET C# as my primary coding language for the back-end stuff.
                        I also develop for the web, with technologies such as MVC, and WebAPI. For web front end, I use Razor for MVC, AngularJS 1 or jQuery
                    </p>

                    <p>
                        I started programming back when I was 11 years old using BASIC when my dad got me a CASIO programmable calculator. Since then, I knew my passion was with programming and technology.
                    </p>
                </div>


            </div>
            <div class="filler-big"></div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div style="font-size:5em;">
                        <i class="devicon-angularjs-plain" alt="AngularJS"></i>
                        <i class="devicon-bootstrap-plain-wordmark"></i>
                        <i class="devicon-csharp-plain"></i>
                        <i class="devicon-css3-plain-wordmark"></i>
                        <i class="devicon-dot-net-plain-wordmark"></i>
                        <i class="devicon-html5-plain-wordmark"></i>
                        <i class="devicon-javascript-plain"></i>
                        <i class="devicon-jquery-plain-wordmark"></i>
                        <i class="devicon-windows8-original"></i>
                    </div>
                </div>
            </div>
    </section>
    <!-- Gamer Section -->
    <section class="success" id="gamer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2>Currently Playing</h2>
                </div>
            </div>
            <div class="filler"></div>
            <div class="row">
                <div class="col-lg-12 text-left">
                    <p>When I'm not coding, I like to play games as well. I mostly play on PC and the Nintendo Switch, but I play on consoles too.</p><p> I am a <strike>Mercy</strike> <strike>Pharah</strike> <strike>D.Va main</strike> Moira main</p>
                </div>
            </div>
            <div class="filler"></div>
            <div class="row">
                <div class="col-lg-12 text-left">

                    <p>Overwatch <span class="livenow notrunning apps" data-exe="overwatch"></span></p>
                    <p>Pokémon Sword</p>
                    <p>Astral Chain</p>                    
                    @*<p>Planet Coaster<span class="livenow notrunning apps" data-exe="planetcoaster"></span></p>
                    <p>PlayerUnknown's BattleGrounds <span class="livenow notrunning apps" data-exe="TslGame"></span></p>
                    <p>Cuphead <span class="livenow notrunning apps" data-exe="Cuphead"></span></p>*@
                    @*<p>Pokemon Ultra Sun</p>
                    <p>Xenoblade Chronicles 2</p>
                    <p>Persona 5</p>
                    <p><strike>Horizon Zero Dawn</strike></p>
                    <p><strike>Nier: Automata</strike></p>*@
                    @*<p>Rocket League <span class="livenow notrunning apps" data-exe="rocketleague"></span></p>*@
                    @*<p>StarCraft 2: Legacy of the Void <span class="livenow notrunning apps" data-exe="sc2_x64"></span></p>
        <p>The Witcher 3 <span class="livenow notrunning apps" data-exe="witcher3"></span></p>
        <p>Grand Theft Auto V <span class="livenow notrunning apps" data-exe="gta5"></span></p>
        <p>Elite: Dangerous <span class="livenow notrunning apps" data-exe="EliteDangerous32"></span></p>
        <p>Portal 2 <span class="livenow notrunning apps" data-exe="portal2"></span></p>*@

                </div>

            </div>
        </div>
    </section>
    <!-- Trainer Section -->
    <section id="pokemon">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2>Pokédex Completion</h2>
                </div>
            </div>
            <div class="filler"></div>
            <div class="row">
                <div class="col-lg-4 columnar name-column">Galar Pokédex</div>
                <div class="col-lg-8 columnar value-column">100% (400 / 400) <!-- 400 total --></div>
            </div>
            <div class="row">
                <div class="col-lg-4 columnar name-column">Alolan Pokédex</div>
                <div class="col-lg-8 columnar value-column">100% (302 / 302)</div>
            </div>
            <div class="row">
                <div class="col-lg-4 columnar name-column">Kalos Pokédex</div>
                <div class="col-lg-8 columnar value-column">52% (239 / 457) <!-- 457 total --></div>
            </div>
            <div class="row">
                <div class="col-lg-4 columnar name-column">Hoenn Pokédex</div>
                <div class="col-lg-8 columnar value-column">59% (125 / 211) <!-- 211 total --></div>
            </div>
            <div class="row">
                <div class="col-lg-4 columnar name-column">National Pokédex</div>
                <div class="col-lg-8 columnar value-column">100% (890 / 890) <!-- 890 total --></div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer id="contact" class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Contact Me</h3>
                        <p>
                            <i class="fa fa-fw fa-envelope-o"></i>  <a href="mailto:hello@devmonster.me">hello@devmonster.me</a>
                        </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://facebook.com/devmonster" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/devmonster" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About this page</h3>
                        <p>Designed with the open source Bootstrap theme created by <a href="http://startbootstrap.com" target="_blank">Start Bootstrap</a></p>
                        <p>Icons used from a nice website by <a href="http://devicon.fr/" target="_blank">Devicon.fr</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 2017 by Mark Angelo Miano
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!-- Theme JavaScript -->
    <script src="~/Scripts/freelancer.js"></script>

    <script>
        function ca() {
            $(".apps").each(function (i, v) {
                var e = $(v).data("exe");
                $.get("https://appupconso.azurewebsites.net/sleep/IsCurrentlyRunning?exename=" + e, function (d) {
                    if (d === "1") {
                        $(v).removeClass("notrunning").addClass("running");
                        
                    }
                    else {
                        $(v).removeClass("running").addClass("notrunning");
                    }                    
                });
            });
        }

        setInterval(ca, 5000);
    </script>
</body>
</html>
